<!-- Titulo de la página -->
<div class="container">
  <div class="section center-align">
    <h4>Miembros de la familia con id: {{ this.idFolioFamilia }}</h4>
  </div>
</div>

<!-- Espaciador -->
<div class="divider"></div>

<!-- Inicio boton de alta de usuarios -->
<div class="container">
  <div class="row">
    <div class="col s12 right-align">
      <br>
      <a routerLink="/entrevista/datosGenerales/{{this.idFolioFamilia}}" class="waves-effect waves-light btn azul-oim">Nuevo mayor de
        edad</a>
      <br>
    </div>
  </div>
</div>
<!-- Fin boton de alta de usuarios -->

<div class="divider"></div>

<div class="container">
  <div class="row">
    <!-- Mayores de edad -->
    <div class="col s12">

      <!-- Inicio de la tabla -->
      <table class="striped responsive-table">
        <!-- Header de la tabla -->
        <thead>
          <th>Folio</th>
          <th>Fecha Captura</th>
          <th>Nombre(s)</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Fase actual</th>
          <th>Acciones</th>
        </thead>
        <!-- Cuerpo de la tabla -->
        <tbody>
          <tr *ngFor="let item of listadoAdulto">
              <td>{{ item.folioControl }}</td>
              <td>{{ item.timestamp }}</td>
              <td>{{ item.nombresControl }}</td>
              <td>{{ item.apellidoPaternoControl }}</td>
              <td>{{ item.apellidoMaternoControl }}</td>
              <td>{{ item.fase }}</td>
              <td><a class="btn-flat waves-effect waves-light" routerLink="{{ '/entrevista/impresionFolio/' + item.folioControl }}"><i
                class="material-icons">create</i></a></td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col s12 right-align">
      <br>
      <a routerLink="/entrevista/seccionUnicaFam/{{this.idFolioFamilia}}" class="waves-effect waves-light btn azul-oim">Nuevo menor de
        edad</a>
      <br>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row">

    <!-- Menores de edad -->
    <div class="col s12">

      <!-- Inicio de la tabla -->
      <table class="striped responsive-table">
        <!-- Header de la tabla -->
        <thead>
          <th>Folio</th>
          <th>Fecha Captura</th>
          <th>Fecha de nacimiento</th>
          <th>Nombre completo</th>
          <th>Seguimiento</th>
        </thead>
        <!-- Cuerpo de la tabla -->
        <tbody>
          <tr *ngFor="let item of listadoMenor">
              <td>{{ item.folioControl }}</td>
              <td>{{ item.timestamp }}</td>
              <td>{{ item.fechaNacimientoControl }}</td>
              <td>{{ item.nombreCompletoControl }}</td>
              <td><a class="btn-flat waves-effect waves-light" routerLink="{{ '/entrevista/detalleMenor/' + item.folioControl }}"><i class="material-icons">create</i></a></td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>