<div class="container section">
  <div class="row">

    <!-- Aviso de Privacidad -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila1">
        <div class="card-content white-text">
          <span class="card-title section">Aviso de Privacidad.</span>
          <div class="card-action indigo lighten-5">
            <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/avisoPrivacidad.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
          </div>
        </div>
      </div>        
    </div>

    <!-- Carta de Atención -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila1">
        <div class="card-content white-text">
          <span class="card-title section">Carta de Atención.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/cartaAtencion.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>

    <!-- Código de Conducta -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila1">
        <div class="card-content white-text">
          <span class="card-title section">Código de Conducta.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/codigoConducta.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>

    <!-- Brochure MAP -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila2">
        <div class="card-content white-text">
          <span class="card-title section">Brochure MAP.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/BrochureMAP.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>

    <!-- Diagnostico MAP -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila2">
        <div class="card-content white-text">
          <span class="card-title section">Diagnostico MAP.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/DiagnosticoMAP.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>

    <!-- Guia MAP -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila2">
        <div class="card-content white-text">
          <span class="card-title section">Guía MAP.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/GuiaMAP.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>

    <!-- Manual MAP -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila3">
        <div class="card-content white-text">
          <span class="card-title section">Manual MAP.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/ManualMAP.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>

    <!-- Mapa de Actores de MAP -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila3">
        <div class="card-content white-text">
          <span class="card-title section">Mapa de Actores de MAP.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/MapaActoresMAP.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>

    <!-- Guia tramites INM -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila3">
        <div class="card-content white-text">
          <span class="card-title section">Guía de trámites ante INM.</span>
          <div class="card-action indigo lighten-5">
              <a class="btn-small waves-effect waves-light azul-oim"
                href="assets/pdf/GuiaTramitesINM.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
              </div>
        </div>
      </div>
    </div>
    
    <!-- DECLARACION DE NUEVA YORK -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila4">
        <div class="card-content white-text">
          <span class="card-title section">Declaración de Nueva York para los Refugiados y Migrantes.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim"
            href="assets/pdf/declaracionNuevaYork.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- INFORME DE LOS OBJETIVOS -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila4">
        <div class="card-content white-text">
          <span class="card-title section">Informe de los Objetivos del Desarrollo Sostenible.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim"
            href="assets/pdf/informeObjetivos.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- LEY DE MIGRACION INFORME -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila4">
        <div class="card-content white-text">
          <span class="card-title section">Informe de Ley de Migración creada por INM.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim"
            href="assets/pdf/leyMigracionInforme.pdf">Descargar<i class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- LEY DE MIGRACION -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila5">
        <div class="card-content white-text">
          <span class="card-title section">Ley de Migración.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/leyMigracion.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- 17 OBJETIVOS -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila5">
        <div class="card-content white-text">
          <span class="card-title section">Los 17 Objetivos del Desarollo Sostenible.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/17Objetivos.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- PACTO MUNDIAL -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila5">
        <div class="card-content white-text">
          <span class="card-title section">Pacto Global para la Migración Segura, Ordenada y Regular.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/pactoMundial.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- POLITICA OIM -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila1">
        <div class="card-content white-text">
          <span class="card-title section">Política de OIM sobre la Igualdad de Género 2015-2019.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/politicaOIM.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- aquí empieza lo que modifico, para agregar los documentos faltantes-->

    <!-- INFORME DE LOS 17 OBJETIVOS DEL DESARROLLO SOSTENIBLE -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila1">
        <div class="card-content white-text">
          <span class="card-title section">Informe de los 17 Objetivos del Desarrollo Sostenible.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/informe17ObjetivosDesarrolloSostenible.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- DOF-ComisionIntersecretarialAtencionIntegralMateriaMigratoria -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila1">
        <div class="card-content white-text">
          <span class="card-title section">Decreto por el que se crea la Comisión Intersecretarial de Atención Integral en Materia Migratoria.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/DOF-ComisionIntersecretarialAtencionIntegralMateriaMigratoria.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!-- PROCEDIMIENTOS ANTE EL INSTITUTO NACIONAL DE MIGRACIÓN -->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila2">
        <div class="card-content white-text">
          <span class="card-title section">Procedimientos ante el Instituto Nacional de Migración.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/procedimientosAnteINM.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!--Directorio de Casas y Albergues para personas migrantes digital.-->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila2">
        <div class="card-content white-text">
          <span class="card-title section">Directorio de Casas y Albergues para Personas Migrantes - Digital.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/dirCasasAlbergues.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!--Beneficios del Mecanismo de Canalización Laboral.-->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila2">
        <div class="card-content white-text">
          <span class="card-title section">Beneficios del Mecanismo de Canalización Laboral.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/beneficiosCanalizacionLaboral.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!--Directorio Institucional de Asistencia a Personas Migrantes en México.-->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila3">
        <div class="card-content white-text">
          <span class="card-title section">Directorio Institucional de Asistencia a Personas Migrantes en México.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/dirInstitucionalPersonasMig.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!--Fichas para la atención a migrantes.-->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila3">
        <div class="card-content white-text">
          <span class="card-title section">Fichas para la atención a migrantes.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/fichasAtteMig.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!--Historial de Atencion.-->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila3">
        <div class="card-content white-text">
          <span class="card-title section">Historial de Atención.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/historialAtencion.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>

    <!--Base de datos de Software.-->
    <div class="col s12 m6 l4">
      <div class="card small hoverable fila4">
        <div class="card-content white-text">
          <span class="card-title section">Base de datos de Software.</span>
        </div>
        <div class="card-action indigo lighten-5">
          <a class="btn-small waves-effect waves-light azul-oim" href="assets/pdf/BaseDeDatosDeSoftware.pdf">Descargar<i
              class="material-icons left">cloud_download</i></a>
          </div>
      </div>
    </div>


  </div>
</div>
