<div class="container">
    <div class="row">

        <div class="col s12 section">
            <h4 class="center-align">Exportación de base de datos</h4>
        </div>

        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Descarga de información</span>
                    <p>Presione el botón y espere un momento para realizar la descarga de la totalidad de la base de datos</p>
                </div>
                <div class="card-action indigo lighten-5">
                    <button (click)="expFile()" class="btn waves-effect waves-light azul-oim">Descargar<i class="material-icons left">archive</i></button>
                </div>
            </div>
        </div>

    </div>
</div>